h1{
    
    color: grey;
}
h2{
    color: hotpink;
}



body{
    margin:0 auto;
    text-align: center;
    max-width: 1000px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px;
}

header{
    margin-top: 16px;
    margin-bottom: 16px
}

header a{
    color: #c55959;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
}

.main-content{
    flex-grow: 1;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    color: white;
    padding: 8px;
    background: #888888;
    margin: 15px 0;
}